body {
    background-image: url(to\ do.webp);
    background-size: cover;
    background-repeat: no-repeat;
   
    font-family: Arial, sans-serif;
    background-color: #4C3F91;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #F2C0FF;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.input-container {
    display: flex;
}

#todo-input {
    background-color: #B958A5;
    flex: 1;
    color: black;

    padding: 10px;
    border: 1px solid #231b1b;
    border-radius: 3px 0 0 3px;
    outline: none;
}

#add-button {
    padding: 10px;
    border: none;
    background-color: #66D37E;
    color: white;
    cursor: pointer;
    border-radius: 0 3px 3px 0;
    border: 1px solid #231b1b ;
}

#add-button:hover {
    background-color: #218838;
}

ul {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
}

li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* li:last-child {
    border-bottom: none;
} */

button.delete {
    background-color:red;
    border: none;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
}

button.delete:hover {
    background-color: #c82333;
}

input::placeholder {
    color: black;
}
li{
    font-weight: bolder;
}
#todo-input:hover{
     background-color: #212cc6; 
}